<ion-header translucent>
  <ion-toolbar>
    <ion-searchbar class="custom-search" placeholder="Filter Photos" debounce="500" (ionChange)="filterPhotos($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-container *ngIf="filteredPhotos?.length > 0; else noPhotos">
    <ion-virtual-scroll [items]="filteredPhotos">
      <ion-item *virtualItem="let photo">
        <app-photo [photo]="photo"></app-photo>
      </ion-item>
    </ion-virtual-scroll>
  </ng-container>
  <ng-template #noPhotos>
    <app-no-photos></app-no-photos>
  </ng-template>
</ion-content>